<html>
    <head>
        <style>
            .container {
                text-align: center;
                margin: 100px auto;
                max-width: 500px;
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
     
            h1 {
                color: green;
                font-weight: bold;
            }
     
            img {
                width: 60%;
            }
        </style>
    </head>
    <body>
        <h1>Home</h1>
        <div class="container">
            <!-- Page heading -->
            <h1>Welcome to Geeksforgeeks ????</h1>
             
        </div>
    </body>
</html>